/* Add some global styles here! */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #f1f3f5;

  /* SHAREFOLIO LOGO COLOR SCHEME */
  --light-gold: rgb(236, 226, 150);
  --dark-gold: rgb(145, 100, 44);
  --dark-background: rgb(14, 14, 14);
  /* SHAREFOLIO LOGO COLOR SCHEME */
  --deep-gold: rgb(239, 182, 77);
  --light-orange-gold: #fddf93;
}

body {
  background-color: #eee8cf; 
  /* color: white; */
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.logo-text {
  background: -webkit-linear-gradient(0deg, var(--dark-gold), var(--light-gold), var(--dark-gold));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Tangerine";
  font-weight: bold;
}

button.button-success,
button.button-error,
button.button-warning,
button.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

button.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

button.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

button.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

button.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}